services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: gympro
      POSTGRES_USER: gympro
      POSTGRES_PASSWORD: gympro_pass
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  pgdata:
